# =========================
# DATA (stored in Hugging Face)
# =========================
data/raw/
data/chunks/
data/vector_store/

# =========================
# ENVIRONMENT
# =========================
.env
venv/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# =========================
# WINDOWS
# =========================
~$*
Thumbs.db
Desktop.ini

# =========================
# VSCODE
# =========================
.vscode/